* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  margin: 1rem 3rem;
  width: 250px;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.card h2 {
  font-weight: 600;
}
.card img {
  width: 100%;
}
.notfound {
  height: 80vh;
  display: flex;
  align-items: center;
}
.card h3 {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
  padding-bottom: 5px;
  border-radius: 4px;
}
.greenbtn {
  color: yellowgreen;
  border: 2px solid yellowgreen;
}
.redbtn {
  color: rgb(184, 38, 38);
  border: 2px solid rgb(184, 38, 38);
}
.first {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Dancing Script", cursive;
  color: rgba(43, 42, 42, 0.466);
  font-size: 3rem;
  margin-top: 5rem;
}
.first p {
  padding-top: 10rem;
  font-size: 1.8rem;
}
@media (max-width: 600px) {
  .first {
    font-size: 1.5rem;
  }
  .first p {
    font-size: 1.2rem;
  }
}
